@model The_One_Web_Technology.Models.courseDetailsModel
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IT Solutions &amp; Business Services Responsive HTML5 Bootstrap5  Website Template">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @await RenderSectionAsync("meta", required: false)
    <link rel="stylesheet" href="~/css/training_main.css" />
    <!-- fav icon -->
    <link rel="icon" href="~/assets/images/logo/owt-logo.png">
    <!-- bootstarp -->
    <link rel="stylesheet" href="~/css/vendors/bootstrap.min.css">
    <!-- animate.css file -->
    <link rel="stylesheet" href="~/css/vendors/animate.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="~/css/vendors/swiper-bundle.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="~/css/vendors/flaticon/flaticon.css">
    <!-- fontAwesome -->
    <link rel="stylesheet" href="~/css/vendors/all.min.css">
    <!-- bootstrap icons -->
    <link rel="stylesheet" href="~/css/vendors/bootstrap-icons-1.9.1/bootstrap-icons.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/css/vendors/jquery.fancybox.min.css">
    <!-- fonts site preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <!-- fonts site preconnect -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Font Family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&amp;display=swap">
    <!-- main-LTR -->
    <link rel="stylesheet" href="~/css/main-LTR.css">
    @* admin style *@
    @* <link rel="stylesheet" href="~/css/adminStyle.css" /> *@
    <!-- about us custom css  -->
    <link rel="stylesheet" href="~/css/about-custom.css" />
    @* <link rel="stylesheet" href="~/css/training_main.css"/> *@
    <link rel="stylesheet" href="~/css/courses.css" />
    @await RenderSectionAsync("Header", required: false)
    @await RenderSectionAsync("style", required: false)
</head>
<body class=" dark-theme ">
    <!--Start Page Header-->
    <header class=" page-header   content-always-light header-basic" id="page-header">
        <div class="header-search-box">
            <div class="close-search"></div>
            <form class="nav-search search-form" role="search" method="get" action="#">
                <div class="search-wrapper">
                    <label class="search-lbl">Search for:</label>
                    <input class="search-input" type="search" placeholder="Search..." name="searchInput" autofocus="autofocus" />
                    <button class="search-btn" type="submit"><i class="bi bi-search icon"></i></button>
                </div>
            </form>
        </div>
        <div class="container">
            <nav class="menu-navbar">
                <div class="header-logo"><a class="logo-link" asp-action="index" asp-controller="home"><img class="logo-img light-logo" loading="lazy" src="~/assets/images/logo/owt-logo.png" alt="logo" /><img class="logo-img  dark-logo" loading="lazy" src="~/assets/images/logo/owt-logo.png" alt="logo" /></a></div>
                <div class="links menu-wrapper-paymentLayout">
                    <ul class="list-js links-list">
                        <li class="menu-item has-sub-menux">
                            <a class="menu-link   active" asp-controller="training" asp-action="courseIntroduction" asp-route-id="@Model.courseId">Cancel</a>
                        </li>                                                                                     
                    </ul>
                </div>                
            </nav>
        </div>
    </header>



    <!--End Page Header-->
    @RenderBody()
  
    <!-- Start loading-screen Component-->
    <div class="loading-screen" id="loading-screen"><span class="bar top-bar"></span><span class="bar down-bar"></span><span class="progress-line"></span><span class="loading-counter"> </span></div>
    <!-- End loading-screen Component-->

    <!-- Start back-to-top Button-->
    <div class="back-to-top" id="back-to-top">
        <i class="bi bi-arrow-up icon "></i>
    </div>

    <!-- End back-to-top Button-->
    <!-- Start privacy-policy-modal-->
    
    <!-- End privacy-policy-modal-->
    @await RenderSectionAsync("Scripts", required: false)
    <!--     JQuery     -->
    <script src="~/js/vendors/jquery-3.6.1.min.js"></script>
    <!--     appear     -->
    <script src="~/js/vendors/appear.min.js"></script>
    <!--     bootstrap     -->
    <script src="~/js/vendors/bootstrap.bundle.min.js"></script>
    <!--     countTo     -->
    <script src="~/js/vendors/jquery.countTo.js"></script>
    <!--     wow     -->
    <script src="~/js/vendors/wow.min.js"></script>
    <!--     swiper     -->
    <script src="~/js/vendors/swiper-bundle.min.js"></script>
    <!--     particles     -->
    <script src="~/js/vendors/particles.min.js"></script>
    <!--     Vanilla-tilt     -->
    <script src="~/js/vendors/vanilla-tilt.min.js"></script>
    <!--     isotope     -->
    <script src="~/js/vendors/isotope-min.js"></script>
    <!--     fancybox     -->
    <script src="~/js/vendors/jquery.fancybox.min.js"></script>
    <!--     main     -->
    <script src="~/js/main.js"></script>
</body>
</html>

@* <script>
    function getDataForCancelBtn(){
        $.ajax({

        });
    }
</script> *@