
@{
    ViewData["Title"] = "profileEdited";
}

<style>
    .welcome_page {
        margin: 100px 0 0 0;
        height: 50vh;
    }

    .heading_welcome {
        padding: 100px 0 0 0;
    }
</style>
<section class="welcome_page">
    <h1 class="heading_welcome text-center">
        Edited Successful
    </h1>
</section>



