
﻿@{

	Layout = "~/Views/Shared/_Global_Layout.cshtml";

}

@section Header {

	<title>About | The One Web Technology  </title>

}

@section meta {
	<meta property="og:image:height" content="150">
	<meta property="og:image:width" content="150">

	<meta name="description" content="The One Web Technology: Empowering Growth through Innovation. Join our transformative journey towards a brighter future with technology at its core." id="metaDesc">
	<meta property="og:title" content="About Us | The One Web Technology" id="metaTitle">
	<meta property="og:description" content="The One Web Technology: Empowering Growth through Innovation. Join our transformative journey towards a brighter future with technology at its core." id="metaDesc2">
	<meta property="og:url" content="about-us" id="metaURL">
	<meta property="og:image" content="~/assets/images/logo/owt-logo.png" />

}

<!-- Start inner Page hero-->

<!-- Section Why the one web technology -->
<section class="testimonials testimonials-1-col   has-dark-bg  mega-section inner-page-hero" id="testimonials-img-bg">
	<div class="overlay-photo-image-bg parallax " data-bg-img="~/assets/images/sections-bg-images/1.jpg"
		 data-bg-opacity=".25"> </div>
	<div class="container">
		<div class="sec-heading  centered ">
			<div class="content-area">
				<span class=" pre-title      wow fadeInUp " data-wow-delay=".2s">
					Why Choose Us
				</span>
				<h2 class=" title  why wow fadeInUp" data-wow-delay=".4s">
					The One,
					<span class='hollow-text'>Web Technology</span>
				</h2>
			
			</div>
		</div>
		<div class="row d-flex align-items-center">
			<div class="col-12 col-md-10  mx-auto">
				<div class="swiper-container  wow fadeInUp  " data-wow-delay="0.2s">
					<div class="swiper-wrapper">
						<p class=" text-white belowLine">
							We are IT experts who guide you through every step of the process,
							from business model development to implementation. Our services include
							web design and development, digital marketing, custom application software
							development, search engine optimization (SEO), web domain and hosting,
							business consulting, embedded engineering, bulk email and messaging,
							training and internship programs, and much more. We provide customized
							services and solutions that fulfill your business objectives and vision.

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- End -->
<!-- Start  about Section-->
<section class="about mega-section" id="about">
	<div class="container">
		<!-- Start first about div-->
		<div class="content-block  ">
			<div class="row">
				<div class="col-12 col-lg-6 d-flex align-items-center order-1 order-lg-0 about-col pad-end  wow fadeInUp " data-wow-delay="0.6s">
					<div class="text-area ">
						<div class="sec-heading  light-title ">
							<div class="content-area">
								<span class=" pre-title  wow fadeInUp " data-wow-delay=".2s">about Us</span>
								<h2 class=" title    wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>trusted</span> by worldwide clients  since<span class='featured-text'>  2014. <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path></svg></span></h2>
							</div>
						</div>
						<p class=" about-text">The One Web Technology information technology (IT) company. Company establish in Vadodara By Mr.Kuldeepsinh VirpuraSolanki.</p>
						<div class="info-items-list ">
							<div class="row ">
								<div class="col-12 col-xl-6">
									<div class="info-item">
										<i class="flaticon-medal  info-icon"></i>
										<div class="info-content">
											<h3 class="info-title">Your Growing Partner</h3>
											<p class="info-text">The company offers a range of IT services, outsourcing and business solutions. </p>
										</div>
									</div>
								</div>
								<div class="col-12 col-xl-6">
									<div class="info-item">
										<i class="flaticon-game-console info-icon"></i>
										<div class="info-content">
											<h3 class="info-title">easy to reach </h3>
											<p class="info-text">The One Web Technology delivers extensive web services ranging from custom website design to development of complex enterprise web applications.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-xl-6">
									<div class="info-item">
										<i class="flaticon-map info-icon"></i>
										<div class="info-content">
											<h3 class="info-title">worldwide services  </h3>
											<p class="info-text"> We have been delivering web development services of any complexity to clients globally. We also offer global consulting and asset leveraged solution.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-xl-6">
									<div class="info-item">
										<i class="flaticon-technical-support-1  info-icon"></i>
										<div class="info-content">
											<h3 class="info-title">24/7 support  </h3>
											<p class="info-text">Our 24/7 IT support ensures that our company remains agile, resilient, and capable of meeting the evolving needs of our clients in an increasingly digital world.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="cta-area">
							<a class=" btn-solid reveal-start" asp-action="contactus" asp-controller="Home">Get in touch</a>
							@* <div class="signature ">
								<div class="signature-name">Mr.Kuldeepsinh  Virpura</div>
								<div class="signature-name">CEO &amp; Founder </div>

							</div> *@
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6 d-flex align-items-center order-0 order-lg-1 about-col  wow fadeInUp" data-wow-delay="0.2s">
					<div class="img-area  " data-tilt>
						<div class="image   "><img class="about-img img-fluid " loading="lazy" src="~/assets/images/about/3.png" alt="Our vision"></div>
					</div>
				</div>
			</div>
		</div>
		<!--End first about div-->
	</div>
</section>
<!-- End  about Section-->
<!-- Start  our-team Section-->
<section class="our-team mega-section " id="our-team">
	<div class="container">
		<div class="sec-heading  ">
			<div class="content-area">
				<span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Team</span>
				<h2 class=" title    wow fadeInUp" data-wow-delay=".4s"> our <span class='hollow-text'>Experts</span> team members</h2>
			</div>
			@* <div class=" cta-area  cta-area  wow fadeInUp" data-wow-delay=".8s"><a class="cta-btn btn-solid   cta-btn btn-solid  " href="our-team.html">see more<i class="bi bi-arrow-right icon "></i></a></div> *@
		</div>
		<div class="container">
			<div class="row">
				<!--first Team Member-->
				<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
					<div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.1s">
						<div class="cards">
							<div class="circle">
								<div class="imgbox">
									<img class="img-fluid parallax-img  " loading="lazy" src="~/assets/images/our-team/kuldeep.jpg" alt="Team Member" />
								</div>
							</div>
							<div class="contents">
								<h3>Kuldeep Virpura</h3>
								<div class="texticons">
									<h4>CEO & Founder </h4>
									<a href="">
										@* <i class="bi bi-arrow-right icon "></i> *@
										<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
										@* <i class="fa fa-arrow-right" aria-hidden="true"></i> *@
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Second Team Member-->
				<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
					<div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.2s">
						<div class="cards">
							<div class="circle">
								<div class="imgbox">
									<img class="img-fluid parallax-img  " loading="lazy" src="~/assets/images/our-team/hetal.jpg" alt="Team Member" />
								</div>
							</div>
							<div class="contents">
								
								<h3>Hetal Rathod</h3>
								<div class="texticons">
									<h4>Director</h4>
									<a href="">
										<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
										@* <i class="fa fa-arrow-right" aria-hidden="true"></i> *@
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Third Team Member-->
				<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
					<div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.4s">
						<div class="cards">
							<div class="circle">
								<div class="imgbox">
									<img class="img-fluid parallax-img  " loading="lazy" src="~/assets/images/our-team/nitin.jpg" alt="Team Member" />
								</div>
							</div>
							<div class="contents">
								
							<h3>Nitin Barot</h3>
						
								<div class="texticons">
								<h4>Director</h4>
									<a href="">
										<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
										@* <i class="fa fa-arrow-right" aria-hidden="true"></i> *@
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!--four Team Member-->
				<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
					<div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.1s">
						<div class="cards">
							<div class="circle">
								<div class="imgbox">
									<img class="img-fluid parallax-img  " loading="lazy" src="~/assets/images/our-team/bharta.jpg" alt="Team Member" />
								</div>
							</div>
							<div class="contents">
								
								<h3>Bharat Purohit</h3>
								<div class="texticons">
									<h4>Vadodara - Branch Head</h4>
									<a href="">
										<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
										@* <i class="fa fa-arrow-right" aria-hidden="true"></i> *@
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Five Team Member-->
				<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
					<div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.2s">
						<div class="cards">
							<div class="circle">
								<div class="imgbox">
									<img class="img-fluid parallax-img  " loading="lazy" src="~/assets/images/our-team/chaachin.jfif" alt="Team Member" />

								</div>
							</div>
							<div class="contents">
								
								<h3>Sachin Chaudhary</h3>
								<div class="texticons">
									<h4>Indore - Branch Head </h4>
									<a href="">
										<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
										@* <i class="fa fa-arrow-right" aria-hidden="true"></i> *@
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--six Team Member-->
				<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
					<div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.4s">
						<div class="cards">
							<div class="circle">
								<div class="imgbox">
									<img class="img-fluid parallax-img  " loading="lazy" src="~/assets/images/our-team/dummy.jpg" alt="Team Member" />
								</div>
							</div>
							<div class="contents">
								
								<h3>Hirendra Rathod</h3>
								<div class="texticons">
									<h4>Canada - Branch Head</h4>
									<a href="">
										<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
										@* <i class="fa fa-arrow-right" aria-hidden="true"></i> *@
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!--seven Team Member-->
				<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
					<div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.1s">
						<div class="cards">
							<div class="circle">
								<div class="imgbox">
									<img class="img-fluid parallax-img  " loading="lazy" src="~/assets/images/our-team/dummy.jpg" alt="Team Member" />
								</div>
							</div>
							<div class="contents">
								
								<h3>Sagar Chokshi</h3>
								<div class="texticons">
									<h4>USA - Branch Head</h4>
									<a href="">
										<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
										@* <i class="fa fa-arrow-right" aria-hidden="true"></i> *@
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--eight Team Member-->
				<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
					<div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.2s">
						<div class="cards">
							<div class="circle">
								<div class="imgbox">
									<img class="img-fluid parallax-img  " loading="lazy" src="~/assets/images/our-team/dummy.jpg" alt="Team Member" />
								</div>
							</div>
							<div class="contents">
								
								<h3>Raju Prajapti</h3>
								<div class="texticons">
									<h4>Aanand - Branch Head </h4>
									<a href="">
										<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
										@* <i class="fa fa-arrow-right" aria-hidden="true"></i> *@
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--nine Team Member-->
				<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
					<div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.4s">
						<div class="cards">
							<div class="circle">
								<div class="imgbox">
									<img class="img-fluid parallax-img  " loading="lazy" src="~/assets/images/our-team/dummy.jpg" alt="Team Member" />

								</div>
							</div>
							<div class="contents">
								
								<h3>Janak Suthar</h3>
								<div class="texticons">
									<h4>Himmantnagar & Ahmedabad - Branch Head</h4>
									<a href="">
										<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
										@* <i class="fa fa-arrow-right" aria-hidden="true"></i> *@
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End  our-team Section-->
<!-- Work Process Area start -->
<div class="sec-heading  centered " id="infrastructure">
	<div class="content-area">
		<span class=" pre-title wow fadeInUp " data-wow-delay=".2s">Our process </span>
		<h2 class=" title  why  wow fadeInUp" data-wow-delay=".4s">
			Development
			<span class='hollow-text'> Life Cycle</span>
		</h2>

	</div>
</div>
<section class="work-process-area pt-50 pb-100 rpt-100 rel z-1 blueCrossBg">
	<div class="container">


		<div class="row gap-70">
			<div class="col-xl-3 col-md-6">
				<div class="work-step-item style-two mt-60 wow fadeInDown delay-0-2s">
					<span class="step-number">Step 01</span>
					<h3 class="title">Requirement Analysis</h3>
					<div class="content">
						<p>Analyse the requirement for your business solution.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="work-step-item style-two wow fadeInUp delay-0-2s">
					<span class="step-number">Step 02</span>
					<h3 class="title">Project Wire-Framing</h3>
					<div class="content">
						<p>Get a sketch of your product before diving into development.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="work-step-item style-two mt-60 wow fadeInDown delay-0-2s">
					<span class="step-number">Step 03</span>
					<h3 class="title">Design & Development</h3>
					<div class="content">
						<p>Give you colours to your project with kick start development.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="work-step-item style-two wow fadeInUp delay-0-2s">
					<span class="step-number">Step 04</span>
					<h3 class="title">Project Delivery</h3>
					<div class="content">
						<p>Get on time and bug free project delivery to make your success next level.</p>
					</div>



				</div>






			</div>
		</div>
		<div class="bg-line-shape">
			<img src="~/assets/images/about/work-process-line.webp.png" alt="Work Process Line" width="100%">
		</div>


	</div>
</section>
<!-- Work Process Area end -->
<!--  Boxes -->
<section class="our-team mega-section " id="mission">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
				<div class="tm-member-card  mission   wow   fadeInUp" data-wow-delay="0.2s">

					<div class="main">
						<div class="about-box">
							<div class="about-logo">
								<i class="fa-solid fa-user-tie"></i>
								@* <i class="fa fa-user-tie"></i> *@
							</div>

							<h3>Our Identity </h3>
							<p>
								We are your trusted partner in turning your vision into reality.
								With our skilled professionals and innovative technologies,
								we deliver tailored solutions that exceed expectations.
								Experience our commitment to excellence and passion for quality.
								Choose The One Web Technology for unparalleled results.
							</p>


						</div>
						<div class="shadowOne"></div>
						<div class="shadowTwo"></div>

					</div>
				</div>
			</div>
			<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
				<div class="tm-member-card   mission  wow   fadeInUp" data-wow-delay="0.2s">

					<div class="main">
						<div class="about-box">
							<div class="about-logo">
								<i class="fa-regular fa-eye"></i>
								@* <i class="fa-regular fa-eye"></i> *@
								@* <i class="fa fa-eye"></i> *@
							</div>
							<h3>Our Vision</h3>
							<p>
								Our vision is to empower businesses with
								innovative technology solutions that drive growth. With a focus on
								excellence and customer-centricity, we strive to anticipate industry
								trends and deliver proactive solutions tailored to our clients'
								needs. Together, let's achieve remarkable success through our
								cutting-edge solutions.



							</p>

						</div>
						<div class="shadowOne"></div>
						<div class="shadowTwo"></div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
				<div class="tm-member-card   mission  wow   fadeInUp" data-wow-delay="0.2s">

					<div class="main col-4">
						<div class="about-box">
							<div class="about-logo">
								<i class="fa flaticon-aim stat-icon"></i>
							</div>
							<h3>Our Mission</h3>
							<p>
								At The One Web Technology, we empower businesses with comprehensive digital solutions, specializing in digital marketing, web development, and design. Our expertise and customer-centric approach deliver measurable results, helping clients build a strong online presence and achieve their goals.






							</p>

						</div>
						<div class="shadowOne"></div>
						<div class="shadowTwo"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End -->
<!-- Start  stats Section-->
<section class="stats js-stats-counter mega-section">
	<div class="overlay-photo-image-bg" data-bg-img="assets/images/sections-bg-images/pattern-bg-3.jpg" data-bg-opacity=".2"></div>
	<div class="container">
		<div class="stats-inner">
			<div class="row ">
				<!--Info One-->
				<div class="col-12 col-md-6 col-lg-3 stat-box ">
					<div class="stat-box-inner  " data-tilt="data-tilt">
						<i class="flaticon-project-management stat-icon"></i>
						<p class="stat-num "><span class="counter" data-from="10" data-to="750" data-speed="3000" data-refresh-interval="50">750</span><span class="sign">+</span></p><span class="stat-desc">finished projects</span>
					</div>
				</div>
				<!--Info Two-->
				<div class="col-12 col-md-6 col-lg-3 stat-box ">
					<div class="stat-box-inner  " data-tilt="data-tilt">
						<i class="flaticon-content-management stat-icon"></i>
						<p class="stat-num "><span class="counter" data-from="0" data-to="23" data-speed="3000" data-refresh-interval="50">23</span><span class="sign">+</span></p><span class="stat-desc">Created jobs</span>
					</div>
				</div>
				<!--Info Three-->
				<div class="col-12 col-md-6 col-lg-3 stat-box ">
					<div class="stat-box-inner  " data-tilt="data-tilt">
						<i class="flaticon-user stat-icon"></i>
						<p class="stat-num "><span class="counter" data-from="0" data-to="200" data-speed="3000" data-refresh-interval="50">200</span><span class="sign">+</span></p><span class="stat-desc">happy customers</span>
					</div>
				</div>
				<!--Info Four-->
				<div class="col-12 col-md-6 col-lg-3 stat-box ">
					<div class="stat-box-inner  " data-tilt="data-tilt">
						<i class="flaticon-aim stat-icon"></i>
						<p class="stat-num "><span class="counter" data-from="0" data-to="28" data-speed="3000" data-refresh-interval="50">28</span><span class="sign">+</span></p><span class="stat-desc">years Of exprience</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End  stats Section-->
<!-- Start  testimonials-->
<section class="testimonials testimonials-1-col   has-dark-bg  mega-section " id="testimonials-img-bg">
	<div class="overlay-photo-image-bg parallax " data-bg-img="~/assets/images/sections-bg-images/1.jpg" data-bg-opacity=".25"> </div>
	<div class="container">
		<div class="sec-heading  centered ">
			<div class="content-area">
				<span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">testimonials</span>
				<h2 class=" title    wow fadeInUp" data-wow-delay=".4s">customers <span class='hollow-text'>testmonials</span></h2>
			</div>
		</div>
		<div class="row d-flex align-items-center">
			<div class="col-12 col-md-10  mx-auto">
				<div class="swiper-container  wow fadeInUp  " data-wow-delay="0.2s">
					<div class="swiper-wrapper">
						<!--First Slide-->
						<div class="swiper-slide">
							<div class="testmonial-card d-flex align-items-center justify-content-center">
								<div class="testimonial-content">
									<div class="customer-img "><img class="img-fluid " loading="lazy" src="~/assets/images/testimonials/1.png" alt="First Slide "></div>
									<div class="customer-testimonial">
										<div class="content">
											<p class="testimonial-text ">
												We engaged The One Web Technology for their digital marketing services, and we couldn't be happier with the results. Their team helped us develop a comprehensive digital strategy that has significantly increased our online visibility and engagement. I would highly recommend their services to anyone looking to boost their digital presence.






											</p>
										</div>
									</div>
									<div class="customer-info ">
										<div class="customer-details">
											<p class="customer-name">Surya Taylor</p>
											<p class="customer-role">founder</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--Second Slide-->
						<div class="swiper-slide">
							<div class="testmonial-card d-flex align-items-center justify-content-center">
								<div class="testimonial-content">
									<div class="customer-img "><img class="img-fluid " loading="lazy" src="~/assets/images/testimonials/2.png" alt="First Slide "></div>
									<div class="customer-testimonial">
										<div class="content">
											<p class="testimonial-text "> The One Web Technology has been instrumental in helping us navigate complex IT challenges. Their team's expertise and professionalism have made them a valuable partner for our organization. I would highly recommend their services to anyone looking for reliable IT solutions.</p>
										</div>
									</div>
									<div class="customer-info ">
										<div class="customer-details">
											<p class="customer-name">Nitin Kataria</p>
											<p class="customer-role">officer</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--third Slide-->
						<div class="swiper-slide">
							<div class="testmonial-card d-flex align-items-center justify-content-center">
								<div class="testimonial-content">
									<div class="customer-img "><img class="img-fluid " loading="lazy" src="~/assets/images/testimonials/3.png" alt="First Slide "></div>
									<div class="customer-testimonial">
										<div class="content">
											<p class="testimonial-text "> Working with The One Web Technology has been a game-changer for our business. Their team developed a custom software solution that streamlined our operations and improved efficiency. Their attention to detail and commitment to excellence is truly commendable.     </p>
										</div>
									</div>
									<div class="customer-info ">
										<div class="customer-details">
											<p class="customer-name">fairouz mhmd</p>
											<p class="customer-role">manager</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--navigation buttons-->
					<div class="swiper-button-prev">
						<div class="left-arrow">
							<i class="bi bi-chevron-left icon "></i>
						</div>
					</div>
					<div class="swiper-button-next">
						<div class="right-arrow">
							<i class="bi bi-chevron-right icon "></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End  testimonials-->
<!-- Start  blog Section-->
<section class="blog blog-home mega-section  " id="blog">
	<div class="container ">
		<div class="sec-heading  ">
			<div class="content-area">
				<span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">blog</span>
				<h2 class=" title    wow fadeInUp" data-wow-delay=".4s">latest <span class='hollow-text'>news</span></h2>
			</div>
			<div class=" cta-area  cta-area  wow fadeInUp" data-wow-delay=".8s"><a class="cta-btn btn-solid   cta-btn btn-solid  " asp-action="blog" asp-controller="Digitalmarketing">see all posts<i class="bi bi-arrow-right icon "></i></a></div>
		</div>
		<div class="row ">
			<div class="col-12 ">
				<div class="posts-grid ">
					<div class="row">
						<div class="col-12 col-lg-4 ">
							<div class="post-box">

								

								<a class="post-link" post-cat" asp-action="blog" asp-controller="Digitalmarketing" title="How litespeed technology works to speed up your site ">
									<div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/1.jpg" alt="How Litespeed Technology Works To Speed Up Your Site" /><span class="post-date"><span class="day">05 </span>oct 2022     </span></div>

								</a>
								<div class="post-summary">
									<div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>hosting</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>Allan Moore</a></div>
									<div class="post-text">
										<a class="post-link" asp-action="blog" asp-controller="Digitalmarketing">
											<h2 class="post-title"> How litespeed technology works to speed up your site </h2>
										</a>
										<p class="post-excerpt">
											We are excited to announce the launch of our new product. This innovative solution is designed to help
											businesses streamline their operations and improve efficiency.
										</p><a class="read-more" asp-action="blog" asp-controller="Digitalmarketing" title="How litespeed technology works to speed up your site ">read more<i class="bi bi-arrow-right icon "></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-4 ">
							<div class="post-box">
								<a class="post-link" href="post-single.html" title="give your website a new look and feel with themes">
									<div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/2.jpg" alt="post-image-2" /><span class="post-date"><span class="day">15 </span>sep 2022     </span></div>
								</a>
								<div class="post-summary">
									<div class="post-info"><a class="info post-cat" asp-action="blog" asp-controller="Digitalmarketing"> <i class="bi bi-bookmark icon"></i>web dev</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>mhmd amin</a></div>
									<div class="post-text">
										<a class="post-link" post-cat" asp-action="blog" asp-controller="Digitalmarketing">
											<h2 class="post-title"> give your website a new look and feel with themes</h2>
										</a>
										<p class="post-excerpt">
											We are pleased to announce, a leading technology provider. This partnership will
											allow us to offer our clients access to cutting-edge technologies and solutions.
										</p><a class="read-more" asp-action="blog" asp-controller="Digitalmarketing" title="give your website a new look and feel with themes">read more<i class="bi bi-arrow-right icon "></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-4 ">
							<div class="post-box">
								<a class="post-link" asp-action="blog" asp-controller="Digitalmarketing" title="the role of domain names in SEO world explained ">
									<div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/3.jpg" alt="post-image-3" /><span class="post-date"><span class="day">27 </span>aug 2022     </span></div>
								</a>
								<div class="post-summary">
									<div class="post-info"><a class="info post-cat" asp-action="blog" asp-controller="Digitalmarketing"> <i class="bi bi-bookmark icon"></i>SEO</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>yusuf amin</a></div>
									<div class="post-text">
										<a class="post-link" asp-action="blog" asp-controller="Digitalmarketing">
											<h2 class="post-title"> the role of domain names in SEO world explained </h2>
										</a>
										<p class="post-excerpt">
											We are proud to have been recognized by The One Web Technology for our outstanding contributions to the IT industry.
											This recognition is a testament to our commitment to excellence.
										</p><a class="read-more" asp-action="blog" asp-controller="Digitalmarketing" title="the role of domain names in SEO world explained ">read more<i class="bi bi-arrow-right icon "></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End  blog Section--><!-- Start  take-action Section-->
<div class="container">
<section class="take-action elf-section has-dark-bg" id="take-action">
	<div class="overlay-photo-image-bg  " data-bg-img="assets/images/sections-bg-images/2.jpg" data-bg-opacity=".25"> </div>
	<div class="cta-wrapper">
		<div class="container">
			<div class="sec-heading  centered mb-0 ">
				<div class="content-area">
					<span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">
						contact us
					</span>
					<h2 class=" title    wow fadeInUp" data-wow-delay=".4s">get in touch with us</h2>
					<p class="subtitle   wow fadeInUp " data-wow-delay=".6s"> Our team is committed to providing prompt and personalized assistance to ensure your satisfaction. </p>
				</div>
			</div>
			<!--Start .see-more-area-->
			<div class=" see-more-area wow fadeInUp" data-wow-delay="0.8s"><a class=" btn-solid cta-link" asp-area="" asp-action="contactus" asp-controller="Home">contact us</a></div>
			<!--End Of .see-more-area        -->
		</div>
	</div>
</section>
</div>
<!-- End  take-action Section-->
