
@{
    ViewData["Title"] = "ContactUsReplay";
}

<style>
    .ContactUsReplay_page {
        margin: 100px 0 0 0;
        height: 50vh;
    }

    .heading_ContactUsReplay_page {
        padding: 100px 0 0 0;
    }
</style>
<section class="ContactUsReplay_page">
    <h1 class="heading_ContactUsReplay_page text-center">
        We'll Contact You In A While
    </h1>
</section>


