@{
    ViewData["Title"] = "Digital Marketing";
    Layout = "~/Views/Shared/_Global_Layout.cshtml";
}



@section header {
    <title>DigitalMarketing | The One Web Technology  </title>
}


@section meta {
    <meta property="og:image:height" content="150">
    <meta property="og:image:width" content="150">
    <meta property="og:content" content="Digital Marketing services we offer" />
    <meta property="og:title" content="The One Web Technology | Digital Marketing" />
    <meta property="og:description" content="From strategic social media campaigns and precision-targeted SEO to compelling content creation and data-driven analytics, we curate a" />
    <meta property="og:image" itemprop="image" content="https://emeritus.org/wp-content/uploads/sites/3/2023/03/How-to-Learn-Digital-Marketing.jpg" />

}


<!-- Start inner Page hero-->

<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<div class="service-single inner-page-hero">
    <div class="container">
        <div class="row">
            <!--Start service content-->
            <div class="col-12 col-xl-8  ">
                <div class="service-content-area">
                    <div class="featured-img-area part"><img class="feat-img img-fluid" src="https://emeritus.org/wp-content/uploads/sites/3/2023/03/How-to-Learn-Digital-Marketing.jpg" alt="traning-img"></div>
                    <div class="service-content">
                        <div class="part">
                            <h2 class="service-title">Digital Marketing services we offer</h2>
                            <p class="service-text">
                                From strategic social media campaigns and precision-targeted SEO to compelling content creation and data-driven analytics, we curate a bespoke digital strategy that not only amplifies your online presence but ensures tangible results. We turn your dreams into a successful digital reality with the help of a group of seasoned professionals, state-of-the-art tools, and an unwavering dedication to innovation.
                            </p>
                            <p class="service-text">
                                We help small and large businesses to grow their bussiness. our service will
                                increase your online presence and customer base, but also to build a strong and long-term business relationship with customers on a personal level.
                            </p>

                        </div>
                        <div class="part">
                            <div class="two-cols-img ">
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="img-col"><img class="img-fluid" src="~/assets/images/services/digital_marketing_services/digital_marketing_3.jpg" loading="lazy" alt="digital_service_1 "></div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="img-col"><img class="img-fluid" src="~/assets/images/services/digital_marketing_services/digitaL_marketing_2.jpg" loading="lazy" alt="digital_service_2 "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* added digital services start  *@
                        
                        <div class="part">
                            <h2 class="service-title">Digital Marketing services</h2>

                            <div class="info-items-list">
                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <div class="info-item">
                                            <span class="info-number ">01.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Facebook marketing</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">02.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Instagram marketing</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">03.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Google my business</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">04.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Local / Global SEO </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">05.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Hashtag Analysis </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">06.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Content Writing </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">07.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Post Design </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">08.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Lead Generation </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">09.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Google Ads </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           
                        </div>

                        @* added digital services end  *@
                        <div class="part">

                            <h2 class="service-title">Digital Marketing Process </h2>

                            <div class="info-items-list">
                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <div class="info-item">
                                            <span class="info-number ">01.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Research </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">02.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Create </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">03.</span>
                                        <div class="info-content">
                                            <h3 class="info-title">Promote </h3>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">04.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Analyze </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">04.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Optimize </h3>
                                            </div>
                                        </div>
                                    </div>
                                     
                                </div>
                                </div>
                            </div>     
                        @* </div> *@ 
                        <div class="part">
                            <h2 class="service-title"> most asked questions</h2>
                            <div class="faq">
                                <!--Start Accordion List For FAQ-->
                                <div class="faq-accordion " id="accordion">
                                    <div class="card mb-2">
                                        <div class="card-header " id="heading-1">
                                            <h3 class="mb-0 faq-title">
                                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">What is digital marketing ?</button>
                                            </h3>
                                        </div>
                                        <div class="collapse " id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p class="faq-answer">
                                                    Digital marketing encompasses all forms of advertising and marketing using the internet, from search engine optimization (SEO) to content marketing, social media and more.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <div class="card mb-2">
                                        <div class="card-header " id="heading-3">
                                            <h3 class="mb-0 faq-title">
                                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">What's the difference between B2B and B2C digital marketing?</button>
                                            </h3>
                                        </div>
                                        <div class="collapse " id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p class="faq-answer">
                                                    B2B stands for Business-to-Business. This type of marketing refers to businesses who sell products or services to other business. For example, at Blue Compass we work with other businesses to produce stellar digital marketing campaigns. B2C stands for Business-to-Consumer, or businesses that sell their products or services to individual consumers. While all facets of digital marketing can apply to both B2B and B2C, the strategy will differ.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Start service content-->
            <!-- Start service sidebar-->
            <div class="col-12 col-xl-4">
                <div class="service-sidebar ">
                    <div class="sidebar-pane">
                        <h2 class="sidebar-title">list of services</h2>
                        <ul class="list">
                            <li class="list-item">
                                <i class="flaticon-web-development font-icon"></i>
                                <a asp-controller="services" asp-action="webDevelopment"> web development<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="flaticon-nanotechnology font-icon"></i>
                                <a asp-controller="Home" asp-action="digitalMarketing"> Digital Marketing<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-snowflake font-icon"></i>
                                <a asp-controller="Home" asp-action="training"> Training <i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="flaticon-profile font-icon"></i>
                                <a asp-controller="services" asp-action="softwaredevelopment">Software Development<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="flaticon-search font-icon"></i>
                                <a asp-controller="services" asp-action="seooptimazation"> SEO services<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-business-time font-icon"></i>
                                <a asp-controller="services" asp-action="businessconsultant"> Business Consultant<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-brands fa-ioxhost font-icon"></i>
                                <a asp-controller="services" asp-action="webdomainmaintenance"> Web Domain And Hosting<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-microchip font-icon"></i>
                                <a asp-controller="services" asp-action="embededsystem"> Embedded System <i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-brands fa-whatsapp font-icon"></i>
                                <a asp-controller="services" asp-action="bulksmsandemail"> Bulk Emails And Message<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                        </ul>
                    </div>
               
                    <div class="sidebar-pane">
                        <div class="social-area">
                            <h2 class="sidebar-title">follow us</h2>
                            <div class="sc-wrapper dir-row sc-size-40">
                                <ul class="sc-list">
                                    <li class="sc-item " title="Facebook"><a class="sc-link" href="https://facebook.com/TheOneWebTechnology" title="social media icon"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                                    <li class="sc-item " title="youtube">
                                        <a class="sc-link" href="https://www.youtube.com/theonewebtechnology814" title="social media icon"><i class="fab fa-youtube sc-icon"></i></a>
                                    </li>
                                    <li class="sc-item " title="instagram"><a class="sc-link" href="https://instagram.com/theonewebtechnology" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                                    <li class="sc-item " title="twitter">
                                        <a class="sc-link" rel="me" href="https://twitter.com/TheOneWebTechn1" title="social media icon"><i class="fab fa-twitter sc-icon"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End service sidebar-->
        </div>
    </div>
</div>
<!-- End inner Page hero-->
@* contact us form start *@
<section class="contact-us-form-section  mega-section  ">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="contact-form-panel">
                    <div class="sec-heading centered    ">
                        <div class="content-area">
                            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">Get quote</h2>
                        </div>
                    </div>
                    <div class="contact-form-inputs wow fadeInUp" data-wow-delay=".6s">
                        <div class="custom-form-area input-boxed">
                            <!--Form To have user messages-->
                            <form class="main-form" id="contact-us-form" action="https://amincode.com/html/flex-it/php/send-mail.php" method="post">
                                <span class="done-msg"></span>
                                <div class="row ">
                                    <div class="col-12 col-lg-6">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="user-name" name="UserName" type="text" />
                                            <label class="input-label" for="user-name"> Name <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="user-email" name="UserEmail" type="email" />
                                            <label class="input-label" for="user-email"> E-mail <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="msg-subject" name="subject" type="text" />
                                            <label class="input-label" for="msg-subject"> Subject <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <textarea class=" text-input" id="msg-text" name="message"></textarea>
                                            <label class="input-label" for="msg-text"> your message <span class="req">*</span></label><span class="b-border"></span><i></i><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 submit-wrapper">
                                        <button class=" btn-solid" id="submit-btn" type="submit" name="UserSubmit">Send your message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* contact us form end *@

@* blog start  *@

<section class="blog blog-home mega-section">
    <div class="container ">
        <div class="row ">
            <div class="col-12 ">
                @* blog heading  start*@

                <div class="sec-heading centered    ">
                    <div class="content-area">
                        <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">Blog</h2>
                    </div>
                </div>

                @* blog heading end  *@
                <div class="posts-grid">
                    <div class="row">
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="How litespeed technology works to speed up your site ">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/1.jpg" alt="post-img-1"><span class="post-date"><span class="day">05 </span>oct 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>hosting</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>Allan Moore</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> How litespeed technology works to speed up your site </h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="How litespeed technology works to speed up your site ">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="give your website a new look and feel with themes">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/2.jpg" alt="post-img-2"><span class="post-date"><span class="day">15 </span>sep 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" asp-controller="Home" asp-action="blog"> <i class="bi bi-bookmark icon"></i>web dev</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>mhmd amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> give your website a new look and feel with themes</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="give your website a new look and feel with themes">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="the role of domain names in SEO world explained ">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/3.jpg" alt="post-img-3"><span class="post-date"><span class="day">27 </span>aug 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>SEO</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> the role of domain names in SEO world explained </h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="the role of domain names in SEO world explained ">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="we are able to building your dream website">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/4.jpg" alt="post-img-4"><span class="post-date"><span class="day">15 </span>aug 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>design</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>mhmd amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> we are able to building your dream website</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="we are able to building your dream website">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="data analysis and the big impact on industry">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/5.jpg" alt="post-img-5"><span class="post-date"><span class="day">02 </span>aug 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>features</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>fairouz amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> data analysis and the big impact on industry</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="data analysis and the big impact on industry">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="helping others can boost you happiness">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/6.jpg" alt="post-img-6"><span class="post-date"><span class="day">21 </span>jul 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>cloud</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> helping others can boost you happiness</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="helping others can boost you happiness">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* blog end *@




