@{
    ViewData["Title"] = "servicessingle";
    Layout = "~/Views/Shared/_Global_Layout.cshtml";
}

@section Header {

    <title>Services | The One Web Technology  </title>

}

@section meta {

    <meta property="og:image:height" content="150">
    <meta property="og:image:width" content="150">
    <meta property="og:content" content="Services We Offer" />
    <meta property="og:title" content="The One Web Technology | Services" />
    <meta property="og:description" content="We Have Team Of Expert That Has One Of The Most Experienced To Provide It Solutions To Businesses" />
    <meta property="og:image" itemprop="image" content="https://dummyimage.com/600x400/000/fff" />

}

<!-- Start inner Page hero-->

<!-- End inner Page hero-->
<!-- Start  services Section-->
<section class="services services-boxed mega-section  inner-page-hero" id="services">
    <div class="container">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">services</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>services</span> we offer</h2>
                <p class="subtitle   wow fadeInUp " data-wow-delay=".6s">
                    We have Team Of Expert that has one of the most experienced to provide it solutions to Businesses
                </p>
            </div>
        </div>
        <div class="row gx-4 gy-4 services-row ">
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start First service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".1s">
                    <div class="service-icon"><i class="flaticon-web-development font-icon"></i></div><span class="service-num hollow-text">1    </span>
                    <div class="service-content">
                        <h3 class="service-title">web development</h3>
                        <p class="service-text">
                            We are a website development company in Gujarat proposing current trending web development services and support for small, medium and large established businesses.
                        </p>
                    </div><a class="read-more" asp-controller="Services" asp-action="webDevelopment">read more<i class="bi bi-arrow-right icon "></i></a>
                </div>
                <!-- End First service box   -->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start Second service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".2s">
                    <div class="service-icon"><i class="flaticon-nanotechnology font-icon"></i></div><span class="service-num hollow-text">2    </span>
                    <div class="service-content">
                        <h3 class="service-title">Digital Marketing</h3>
                        <p class="service-text">
                            Our service will Boost your website's reach and impact with our tailored digital marketing solutions. Drive traffic, engage audiences, and achieve online success effortlessly.
                        </p>
                    </div><a class="read-more" asp-controller="Home" asp-action="digitalmarketing">read more<i class="bi bi-arrow-right icon "></i></a>
                </div>
                <!-- End Second service box-->
            </div>
            <!--Start third service box-->
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <div class="box service-box  wow fadeInUp  reveal-start" data-wow-offset="0" data-wow-delay=".6s">
                    <div class="service-icon">
                        <i class="fa-solid fa-snowflake font-icon"></i>
                    </div><span class="service-num hollow-text">6    </span>
                    <div class="service-content">
                        <h3 class="service-title">Training</h3>
                        <p class="service-text">
                            Intership exposes aspiring professionals to real-world scenarios and challenges,help them to apply their knowledge in a practical setting.
                            in digital marketing and Web Devlopment.
                            
                        </p>
                    </div><a class="read-more" asp-controller="Home" asp-action="training">read more<i class="bi bi-arrow-right icon "></i></a>
                </div>
                <!-- End 3th service box-->
            </div>

            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start fourth service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".4s">
                    <div class="service-icon">
                        <i class="flaticon-profile font-icon"></i>
                    </div><span class="service-num hollow-text">4    </span>
                    <div class="service-content">
                        <h3 class="service-title">Software development</h3>
                        <p class="service-text">
                            Unlock your website's potential with our expert software development service. Elevate your online presence with innovative solutions. we have a successful track record.
                        </p>
                    </div><a class="read-more" asp-controller="Services" asp-action="softwaredevelopment">read more<i class="bi bi-arrow-right icon "></i></a>
                </div>
                <!-- End fourth service box   -->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 5th service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".5s">
                    <div class="service-icon"><i class="flaticon-search font-icon"></i></div><span class="service-num hollow-text">5    </span>
                    <div class="service-content">
                        <h3 class="service-title">SEO services</h3>
                        <p class="service-text">
                            Our SEO service Will improve your website to increase its visibility in Google and other search engines whenever people search for your Products or Service related Keywords.
                        </p>
                    </div><a class="read-more" asp-controller="Services" asp-action="seooptimazation">read more<i class="bi bi-arrow-right icon "></i></a>
                </div>
                <!-- End 5th service box-->
            </div>

            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 6th service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".3s">
                    <div class="service-icon">
                        <i class="fa-solid fa-business-time font-icon"></i>
                    </div><span class="service-num hollow-text">6   </span>
                    <div class="service-content">
                        <h3 class="service-title">Business consultant </h3>
                        <p class="service-text">
                            Our business consultants can Elevate your business with our consultancy service. Tailored strategies to maximize growth and efficiency. Your success, our priority.
                        </p>
                    </div><a class="read-more" asp-controller="Services" asp-action="businessconsultant">read more<i class="bi bi-arrow-right icon "></i></a>
                </div>
                <!-- End sixth service box-->
            </div>

            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 7th service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".3s">
                    <div class="service-icon">
                        <i class="fa-brands fa-ioxhost font-icon"></i>
                    </div><span class="service-num hollow-text">7    </span>
                    <div class="service-content">
                        <h3 class="service-title">Web domain & hosting </h3>
                        <p class="service-text">
                            Web hosting is a service that allows organizations and individuals to post a website or web page onto the Internet.
                            Web hosting is a necessity for any website.

                        </p>
                  
                    </div><a class="read-more" asp-controller="services" asp-action="webdomainmaintenance">read more<i class="bi bi-arrow-right icon "></i></a>
                </div>
                <!-- End seventh service box-->
            </div>

            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 8th service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".3s">
                    <div class="service-icon">
                        <i class="fa-solid fa-microchip font-icon"></i>
                    </div><span class="service-num hollow-text">8    </span>
                    <div class="service-content">
                        <h3 class="service-title">Embedded system </h3>
                        <p class="service-text">
                            Transforming your hardware into smart, efficient solutions. Our embedded system services offer tailored designs and seamless integration for your devices.
                        </p>
                    </div><a class="read-more" asp-controller="Services" asp-action="embededsystem">read more<i class="bi bi-arrow-right icon "></i></a>
                </div>
                <!-- End eighth service box-->
            </div>

            <div class="col-12 col-md-6  col-lg-4 ">
                <!--Start 9th service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".3s">
                    <div class="service-icon">
                        <i class="fa-brands fa-whatsapp font-icon"></i>
                    </div><span class="service-num hollow-text">9    </span>
                    <div class="service-content">
                        <h3 class="service-title">Bulk Emails And message</h3>
                        <p class="service-text">
                            We provide bulk messages service on multiple application Emails ,text messages and whatsApp messages.will increase your product's reach
                        </p>
                     
                    </div><a class="read-more" asp-controller="Services" asp-action="bulksmsandemail">read more<i class="bi bi-arrow-right icon "></i></a>
                </div>
                <!-- End ninth service box-->
            </div>
        </div>
    </div>
</section>
<!-- End  services Section-->
<!-- Start  testimonials-->
<section class="testimonials testimonials-1-col   has-dark-bg  mega-section " id="testimonials-img-bg">
    <div class="overlay-photo-image-bg parallax " data-bg-img="~/assets/images/sections-bg-images/1.jpg" data-bg-opacity=".25"> </div>
    <div class="container">
        <div class="sec-heading  centered ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">testimonials</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">customers <span class='hollow-text'>testmonials</span></h2>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-10  mx-auto">
                <div class="swiper-container  wow fadeInUp  " data-wow-delay="0.2s">
                    <div class="swiper-wrapper">
                        <!--First Slide-->
                        <div class="swiper-slide">
                            <div class="testmonial-card d-flex align-items-center justify-content-center">
                                <div class="testimonial-content">
                                    <div class="customer-img "><img class="img-fluid " loading="lazy" src="~/assets/images/testimonials/1.png" alt="First Slide "></div>
                                    <div class="customer-testimonial">
                                        <div class="content">
                                            <p class="testimonial-text ">
                                                OWT always comes through quickly resolving our IT issues - including an ongoing problem that several other consultants had been unable to fix at our largest operating company.  They're certainly our go-to IT company of choice!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="customer-info ">
                                        <div class="customer-details">
                                            <p class="customer-name">Kamlesh</p>
                                            <p class="customer-role">founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Second Slide-->
                        <div class="swiper-slide">
                            <div class="testmonial-card d-flex align-items-center justify-content-center">
                                <div class="testimonial-content">
                                    <div class="customer-img "><img class="img-fluid " loading="lazy" src="~/assets/images/testimonials/2.png" alt="First Slide "></div>
                                    <div class="customer-testimonial">
                                        <div class="content">
                                            <p class="testimonial-text ">
                                                I just wanted to take a minute to let you know how helpful ... your office was in a time of near desperation.  The people that I have dealt with ... have helped make my job much easier.  Thank you for your support.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="customer-info ">
                                        <div class="customer-details">
                                            <p class="customer-name">fouad osman</p>
                                            <p class="customer-role">Client</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--third Slide-->
                        <div class="swiper-slide">
                            <div class="testmonial-card d-flex align-items-center justify-content-center">
                                <div class="testimonial-content">
                                    <div class="customer-img "><img class="img-fluid " loading="lazy" src="~/assets/images/testimonials/3.png" alt="First Slide "></div>
                                    <div class="customer-testimonial">
                                        <div class="content">
                                            <p class="testimonial-text ">
                                                It has been a pleasure working with you and your staff, and I can only rave over the high standards that you have maintained relative to our hardware and software.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="customer-info ">
                                        <div class="customer-details">
                                            <p class="customer-name">fairouz mhmd</p>
                                            <p class="customer-role">manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--navigation buttons-->
                    <div class="swiper-button-prev">
                        <div class="left-arrow">
                            <i class="bi bi-chevron-left icon "></i>
                        </div>
                    </div>
                    <div class="swiper-button-next">
                        <div class="right-arrow">
                            <i class="bi bi-chevron-right icon "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End  testimonials-->
<!-- Start  faq Section-->
<section class="faq mega-section" id="faq">
    <div class="shape-top-left"></div>
    <div class="shape-bottom-right"></div>
    <div class="pattern-top-end-dir"></div>
    <div class="pattern-bottom-start-dir"></div>
    <div class="container">
        <div class="sec-heading  centered ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">FAQs</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>frequently </span> asked questions </h2>
            </div>
        </div>
        <!--Start Accordion List For FAQ-->
        <div class="faq-accordion " id="accordion">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card mb-2">
                        <div class="card-header " id="heading-1">
                            <h3 class="mb-0 faq-title">
                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">are your service easy to use?</button>
                            </h3>
                        </div>
                        <div class="collapse " id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p class="faq-answer">
                                    mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                    nesciunt
                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                                    a
                                    bird on it squid single-origin coffee nulla assumenda
                                    shoreditch
                                    et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                    anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur
                                    butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header " id="heading-2">
                            <h3 class="mb-0 faq-title">
                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">will i receive future updates?</button>
                            </h3>
                        </div>
                        <div class="collapse " id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p class="faq-answer">
                                    mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                    nesciunt
                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                                    a
                                    bird on it squid single-origin coffee nulla assumenda
                                    shoreditch
                                    et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                    anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur
                                    butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header " id="heading-3">
                            <h3 class="mb-0 faq-title">
                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">is this services work in my country?</button>
                            </h3>
                        </div>
                        <div class="collapse " id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p class="faq-answer">
                                    mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                    nesciunt
                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                                    a
                                    bird on it squid single-origin coffee nulla assumenda
                                    shoreditch
                                    et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                    anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur
                                    butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card mb-2">
                        <div class="card-header " id="heading-4">
                            <h3 class="mb-0 faq-title">
                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">How much I will pay?</button>
                            </h3>
                        </div>
                        <div class="collapse " id="collapse-4" aria-labelledby="collapse-4" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p class="faq-answer">
                                    mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                    nesciunt
                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                                    a
                                    bird on it squid single-origin coffee nulla assumenda
                                    shoreditch
                                    et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                    anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur
                                    butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header " id="heading-5">
                            <h3 class="mb-0 faq-title">
                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">are theres other fees?</button>
                            </h3>
                        </div>
                        <div class="collapse " id="collapse-5" aria-labelledby="collapse-5" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p class="faq-answer">
                                    mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                    nesciunt
                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                                    a
                                    bird on it squid single-origin coffee nulla assumenda
                                    shoreditch
                                    et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                    anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur
                                    butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header " id="heading-6">
                            <h3 class="mb-0 faq-title">
                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6"> how can i sign up the contract?</button>
                            </h3>
                        </div>
                        <div class="collapse " id="collapse-6" aria-labelledby="collapse-6" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p class="faq-answer">
                                    mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                    nesciunt
                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                                    a
                                    bird on it squid single-origin coffee nulla assumenda
                                    shoreditch
                                    et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                    anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur
                                    butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End  faq Section-->
<!-- Start  take-action Section-->

<!-- End  take-action Section-->

<div class="container">
<section class="take-action elf-section has-dark-bg" id="take-action">
    <div class="overlay-photo-image-bg  " data-bg-img="assets/images/sections-bg-images/2.jpg" data-bg-opacity=".25" style="opacity: 0.25;"> </div>
    <div class="cta-wrapper">
        <div class="container">
            <div class="sec-heading  centered mb-0 ">
                <div class="content-area">
                    <span class="pre-title       wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">contact us</span>
                    <h2 class="title    wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Grow with us</h2>
                    <p class="subtitle   wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Our team is committed to providing prompt and personalized assistance to ensure your satisfaction.</p>
                </div>
            </div>
            <!--Start .see-more-area-->
            <div class="see-more-area wow fadeInUp" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"><a class=" btn-solid cta-link" href="/Home/contactus">contact us</a></div>
            <!--End Of .see-more-area        -->
        </div>
    </div>
</section>
</div>
