@{

    Layout = "~/Views/Shared/_Global_Layout.cshtml";


}

@section Header {
    <link href="~/css/vendors/all.min.css" rel="stylesheet" />
    <title> Course  | The One Web Technology</title>

}

@section meta {

    <meta property="og:image:height" content="150">
    <meta property="og:image:width" content="150">
    <meta property="og:content" content="Web Devlopment Services We Offer" />
    <meta property="og:title" content="The One Web Technology | Web Development" />
    <meta property="og:description" content="At OWT, we combine creativity, technical expertise, and industry insights to deliver bespoke solutions tailored to your unique needs." />
    <meta property="og:image" itemprop="image" content="https://miro.medium.com/v2/resize:fit:720/format:webp/1*V-Jp13LvtVc2IiY2fp4qYw.jpeg" />

}
@* course landing page *@
<section class="training">

    <div class="tutor-course-details-page space-top space-extra-bottom container-fluid">
        <div class="row">
            <div class=" col-xxl-3 col-lg-3">



                <div class="course-content  ">

                    <div class="headings">
                        <h2>Course Content</h2>
                    </div>                    <div class="faq">
                        <!--Start Accordion List For FAQ-->
                        <div class="faq-accordion " id="accordion">
                            <div class="card mb-1 p-0 border-0">
                                <div class="card-header " id="heading-1">
                                    <h3 class="mb-0 faq-title">
                                        <button class="btn btn-link  faq-btns  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                            <span>   Section 1 : Front-End Web Development</span>

                                        </button>
                                    </h3>
                                </div>
                                <div class="collapse " id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="content-item checked">
                                                <input type="checkbox" checked>
                                                <span>1. What You'll Get in This Course</span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 7min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    2. Download the Course Syllabus
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 1min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    3. Download the 12 Rules to Learn to Code eBook [Latest Edition]

                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 7min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1 p-0 border-0">
                                <div class="card-header " id="heading-2">
                                    <h3 class="mb-0 faq-title">
                                        <button class="btn btn-link  faq-btns  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                                            <span>   Section 2 : Introduction to HTML</span>
                                        </button>
                                    </h3>
                                </div>
                                <div class="collapse " id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="content-item checked">
                                                <input type="checkbox" checked>
                                                <span>1. What is html ?</span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 7min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    2. Download the Course Resources
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 1min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1 p-0 border-0">
                                <div class="card-header " id="heading-3">
                                    <h3 class="mb-0 faq-title">
                                        <button class="btn btn-link  faq-btns  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                                            <span>   Section 3 : Introduction to CSS</span>
                                        </button>
                                    </h3>
                                </div>
                                <div class="collapse " id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="content-item checked">
                                                <input type="checkbox" checked>
                                                <span>1. Why do we need CSS?</span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 9min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    2. How to add CSS

                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 15min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1 p-0 border-0">
                                <div class="card-header " id="heading-4">
                                    <h3 class="mb-0 faq-title">
                                        <button class="btn btn-link  faq-btns  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
                                            <span>   Section 4 : Grid</span>
                                        </button>
                                    </h3>
                                </div>
                                <div class="collapse " id="collapse-4" aria-labelledby="collapse-4" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="content-item checked">
                                                <input type="checkbox" checked>
                                                <span>
                                                    1. Display: Grid
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 12min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    2. Grid Sizing
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    3. Grid Placement
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1 p-0 border-0">
                                <div class="card-header " id="heading-5">
                                    <h3 class="mb-0 faq-title">
                                        <button class="btn btn-link  faq-btns  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
                                            <span>   Section 5 : Bootstrap</span>
                                        </button>
                                    </h3>
                                </div>
                                <div class="collapse " id="collapse-5" aria-labelledby="collapse-5" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="content-item checked">
                                                <input type="checkbox" checked>
                                                <span>
                                                    1. Display: What is Bootstrap?
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 12min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    2. Bootstarp Layout
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    3. Bootstrap Components
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1 p-0 border-0">
                                <div class="card-header " id="heading-6">
                                    <h3 class="mb-0 faq-title">
                                        <button class="btn btn-link  faq-btns  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
                                            <span>   Section 6 : Intermediate JavaScript</span>
                                        </button>
                                    </h3>
                                </div>
                                <div class="collapse " id="collapse-6" aria-labelledby="collapse-6" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="content-item checked">
                                                <input type="checkbox" checked>
                                                <span>
                                                    1. Display: What is JavaScript?
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 12min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    2. Control Statements: Using If-Else Conditionals & Logic
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    3. Comparators and Equality
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1 p-0 border-0">
                                <div class="card-header " id="heading-7">
                                    <h3 class="mb-0 faq-title">
                                        <button class="btn btn-link  faq-btns  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="true" aria-controls="collapse-7">
                                            <span>   Section 7 : Back-End Web Development</span>
                                        </button>
                                    </h3>
                                </div>
                                <div class="collapse " id="collapse-7" aria-labelledby="collapse-7" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="content-item checked">
                                                <input type="checkbox" checked>
                                                <span>
                                                    1. Back-End Web Development Explained
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 12min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    2.   Back-End Tools and Technologies - which one to learn?
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1 p-0 border-0">
                                <div class="card-header " id="heading-8">
                                    <h3 class="mb-0 faq-title">
                                        <button class="btn btn-link  faq-btns  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="true" aria-controls="collapse-8">
                                            <span>   Section 8 : Node.js</span>
                                        </button>
                                    </h3>
                                </div>
                                <div class="collapse " id="collapse-8" aria-labelledby="collapse-8" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="content-item checked">
                                                <input type="checkbox" checked>
                                                <span>
                                                    1. Display: What is Node.js?
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 12min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    2. Install Node.js on Mac
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    3. Install Node.js on Windows
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1 p-0 border-0">
                                <div class="card-header " id="heading-9">
                                    <h3 class="mb-0 faq-title">
                                        <button class="btn btn-link  faq-btns  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expanded="true" aria-controls="collapse-9">
                                            <span>   Section 9 : Git, Github and Version Control</span>
                                        </button>
                                    </h3>
                                </div>
                                <div class="collapse " id="collapse-9" aria-labelledby="collapse-9" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="content-item checked">
                                                <input type="checkbox" checked>
                                                <span>
                                                    1. Introduction to Version Control and Git
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 12min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    2.  Version Control Using Git and the Command Line
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    3.  GitHub and Remote Repositories
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1 p-0 border-0">
                                <div class="card-header " id="heading-10">
                                    <h3 class="mb-0 faq-title">
                                        <button class="btn btn-link  faq-btns  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-10" aria-expanded="true" aria-controls="collapse-10">
                                            <span>   Section 10 : DataBase</span>
                                        </button>
                                    </h3>
                                </div>
                                <div class="collapse " id="collapse-10" aria-labelledby="collapse-10" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="content-item checked">
                                                <input type="checkbox" checked>
                                                <span>
                                                    1. Databases Explained: SQL vs. NoSQL
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 12min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="content-item">
                                                <input type="checkbox">
                                                <span>
                                                    2. Tip from Angela - When Life Gives You Lemons
                                                </span>
                                            </div>
                                            <div class="content-items">
                                                <div class="col-xxl-6 col-md-6">
                                                    <span class="time"><i class="fa-solid fa-video"></i> 16min</span>
                                                </div>
                                                <div class="col-xxl-6 col-md-6 ">

                                                    <button class="resources-btn"><i class="fa-regular fa-folder-open"></i> Resources</button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col-xxl-9 col-lg-9">
                <div class="course_content">
                    <div class="row ">

                    <i class="fa-solid fa-user-lock"></i>
                    <br />
                    <h1>
                        Lecture content locked
                    </h1>
                        <form action="#" method="post" enctype="multipart/form-data">
                            <button type="submit" name="add-to-cart" value="2654" class="th-btn tutor-btn-primary tutor-btn-lg tutor-btn-block tutor-add-to-cart-button tutor-open-login-modal p-2" fdprocessedid="8qs5u5">
                                <span class="btn-icon tutor-icon-cart-filled"></span>
                                <span>Enroll In Course To Unlock</span>
                            </button>
                        </form>
                        <p class="margin_p">If you're already enrolled, <a href="#">You'll need to login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>