@{

    Layout = "~/Views/Shared/_Global_Layout.cshtml";

}

@section Header {
    <title> Embeded System | The One Web Technology</title>
}



@section meta {

    <meta property="og:image:height" content="150">
    <meta property="og:image:width" content="150">
    <meta property="og:content" content="Embedded Engineering Services We Offer" />
    <meta property="og:title" content="The One Web Technology | Embeded System" />
    <meta property="og:description" content="Helping you to get the most out of your investments with technology consulting services adapted to make your business transform digitally." />
    <meta property="og:image" itemprop="image" content="https://www.move-x.it/wp-content/uploads/2023/06/AdobeStock_601492882-scaled.jpeg" />

}

<!-- Start inner Page hero-->

<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<div class="service-single inner-page-hero">
    <div class="container">
        <div class="row">
            <!--Start service content-->
            <div class="col-12 col-xl-8  ">
                <div class="service-content-area">
                    <div class="featured-img-area part"><img class="feat-img img-fluid" src="https://www.move-x.it/wp-content/uploads/2023/06/AdobeStock_601492882-scaled.jpeg" alt="featured image"></div>
                    <div class="service-content">
                        <div class="part">
                            <h2 class="service-title">Embedded Engineering services we offer</h2>
                            <p class="service-text">
                                Helping you to get the most out of your investments with technology consulting services adapted to make your business transform digitally.
                            </p>
                        </div>
                        <div class="part">
                            <div class="two-cols-img ">
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="img-col"><img class="img-fluid" src="~/assets/images/services/embedded_services/desktop-wallpaper-embedded-systems-embedded.jpg" loading="lazy" alt="service single image "></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="img-col"><img class="img-fluid" src="~/assets/images/services/embedded_services/embedded-system-micro.jpg" loading="lazy" alt="service single image "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <div class="info-items-list">
                                <h3 class="service-title">Embedded Featured Services</h3>
                                <div class="row">
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">01.</span>
                                            <div class="info-content">
                                                <h4 class="info-title"> Home Automation </h4>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">02.</span>
                                            <div class="info-content">
                                                <h4 class="info-title">IOT (internet of things) </h4>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">03.</span>
                                            <div class="info-content">
                                                <h4 class="info-title">Production Automation </h4>
                                             
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <h2 class="service-title"> most asked questions</h2>
                            <div class="faq">
                                <!--Start Accordion List For FAQ-->
                                <div class="faq-accordion " id="accordion">
                                    <div class="card mb-2">
                                        <div class="card-header " id="heading-2">
                                            <h3 class="mb-0 faq-title">
                                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                                                    What is embedded system ?
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="collapse " id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p class="faq-answer">
                                                    An embedded system is a combination of computer hardware and software designed for a specific function. Embedded systems may also function within a larger system. The systems can be programmable or have a fixed functionality. Industrial machines, consumer electronics, agricultural and processing industry devices, automobiles, medical equipment, cameras, digital watches, household appliances, airplanes, vending machines and toys, as well as mobile devices, are possible locations for an embedded system.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-header " id="heading-3">
                                            <h3 class="mb-0 faq-title">
                                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                                                    Examples of embedded systems ?
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="collapse " id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p class="faq-answer">
                                                    Embedded systems are used in a wide range of technologies across an array of industries as Automobiles, mobile phones, industrial machines, medical equipment .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Start service content-->
            <!-- Start service sidebar-->
            <div class="col-12 col-xl-4">
                <div class="service-sidebar ">
                    <div class="sidebar-pane">
                        <h2 class="sidebar-title">list of services</h2>
                        <ul class="list">
                            <li class="list-item">
                                <i class="flaticon-web-development font-icon"></i>
                                <a asp-controller="services" asp-action="webDevelopment"> web development<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="flaticon-nanotechnology font-icon"></i>
                                <a asp-controller="Home" asp-action="digitalMarketing"> Digital Marketing<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-snowflake font-icon"></i>
                                <a asp-controller="Home" asp-action="training"> Training <i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="flaticon-profile font-icon"></i>
                                <a asp-controller="services" asp-action="softwaredevelopment">Software Development<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="flaticon-search font-icon"></i>
                                <a asp-controller="services" asp-action="seooptimazation"> SEO services<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-business-time font-icon"></i>
                                <a asp-controller="services" asp-action="businessconsultant"> Business Consultant<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-brands fa-ioxhost font-icon"></i>
                                <a asp-controller="services" asp-action="webdomainmaintenance"> Web Domain And Hosting<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-microchip font-icon"></i>
                                <a asp-controller="services" asp-action="embededsystem"> Embedded System <i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-brands fa-whatsapp font-icon"></i>
                                <a asp-controller="services" asp-action="bulksmsandemail"> Bulk Emails And Message<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                        </ul>
                    </div>
                
                    <div class="sidebar-pane">
                        <div class="social-area">
                            <h2 class="sidebar-title">follow us</h2>
                            <div class="sc-wrapper dir-row sc-size-40">
                                <ul class="sc-list">
                                    <li class="sc-item " title="Facebook"><a class="sc-link" href="https://facebook.com/TheOneWebTechnology" title="social media icon"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                                    <li class="sc-item " title="youtube">
                                        <a class="sc-link" href="https://www.youtube.com/theonewebtechnology814" title="social media icon"><i class="fab fa-youtube sc-icon"></i></a>
                                    </li>
                                    <li class="sc-item " title="instagram"><a class="sc-link" href="https://instagram.com/theonewebtechnology" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                                    <li class="sc-item " title="twitter">
                                        <a class="sc-link" rel="me" href="https://twitter.com/TheOneWebTechn1" title="social media icon"><i class="fab fa-twitter sc-icon"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End service sidebar-->

        </div>
    </div>
</div>
<!-- End inner Page hero-->
@* contact us form start *@
<section class="contact-us-form-section  mega-section  ">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="contact-form-panel">
                    <div class="sec-heading centered    ">
                        <div class="content-area">
                            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">Get quote</h2>
                        </div>
                    </div>
                    <div class="contact-form-inputs wow fadeInUp" data-wow-delay=".6s">
                        <div class="custom-form-area input-boxed">
                            <!--Form To have user messages-->
                            <form class="main-form" id="contact-us-form" action="https://amincode.com/html/flex-it/php/send-mail.php" method="post">
                                <span class="done-msg"></span>
                                <div class="row ">
                                    <div class="col-12 col-lg-6">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="user-name" name="UserName" type="text" />
                                            <label class="input-label" for="user-name"> Name <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="user-email" name="UserEmail" type="email" />
                                            <label class="input-label" for="user-email"> E-mail <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="msg-subject" name="subject" type="text" />
                                            <label class="input-label" for="msg-subject"> Subject <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <textarea class=" text-input" id="msg-text" name="message"></textarea>
                                            <label class="input-label" for="msg-text"> your message <span class="req">*</span></label><span class="b-border"></span><i></i><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 submit-wrapper">
                                        <button class=" btn-solid" id="submit-btn" type="submit" name="UserSubmit">Send your message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* contact us form end *@
@* blog start  *@

<section class="blog blog-home mega-section">
    <div class="container ">
        <div class="row ">
            <div class="col-12 ">
                @* blog heading  start*@

                <div class="sec-heading centered    ">
                    <div class="content-area">
                        <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">Blog</h2>
                    </div>
                </div>

                @* blog heading end  *@
                <div class="posts-grid">
                    <div class="row">
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="How litespeed technology works to speed up your site ">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/1.jpg" alt="post-img-1"><span class="post-date"><span class="day">05 </span>oct 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>hosting</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>Allan Moore</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> How litespeed technology works to speed up your site </h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="How litespeed technology works to speed up your site ">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="give your website a new look and feel with themes">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/2.jpg" alt="post-img-2"><span class="post-date"><span class="day">15 </span>sep 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" asp-controller="Home" asp-action="blog"> <i class="bi bi-bookmark icon"></i>web dev</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>mhmd amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> give your website a new look and feel with themes</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="give your website a new look and feel with themes">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="the role of domain names in SEO world explained ">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/3.jpg" alt="post-img-3"><span class="post-date"><span class="day">27 </span>aug 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>SEO</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> the role of domain names in SEO world explained </h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="the role of domain names in SEO world explained ">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="we are able to building your dream website">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/4.jpg" alt="post-img-4"><span class="post-date"><span class="day">15 </span>aug 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>design</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>mhmd amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> we are able to building your dream website</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="we are able to building your dream website">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="data analysis and the big impact on industry">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/5.jpg" alt="post-img-5"><span class="post-date"><span class="day">02 </span>aug 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>features</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>fairouz amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> data analysis and the big impact on industry</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="data analysis and the big impact on industry">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="helping others can boost you happiness">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/6.jpg" alt="post-img-6"><span class="post-date"><span class="day">21 </span>jul 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>cloud</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> helping others can boost you happiness</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="helping others can boost you happiness">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* blog end *@




