
@{
    ViewData["Title"] = "registrationCompleted";
}
@section style{
    <style>
        .mt-7 {
            margin: 7rem 0 0 0;
        }
    </style>
    
}
<section class="registration_complete min-vh-100">
    <div class="mt-5">
        <h1 class="ms-3 mt-7">Registration Completed</h1>
    </div>
</section>

