@{

    Layout = "~/Views/Shared/_Global_Layout.cshtml";

}

@section Header {
    <title> Seo Optimazation | The One Web Technology</title>
}



@section meta {

    <meta property="og:image:height" content="150">
    <meta property="og:image:width" content="150">
    <meta property="og:content" content="Search Engine Optimization(SEO) Services We Offer" />
    <meta property="og:title" content="The One Web Technology | Seo Optimazation" />
    <meta property="og:description" content="We offer top edge Search engine optimization (SEO) By improving the visibility of a website or webpage on a search engine results page (SERP) so as to make a company’s website more discoverable, thereby driving traffic and sales." />
    <meta property="og:image" itemprop="image" content="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Are_the_Different_Types_of_SEO.jpg" />

}

<!-- Start inner Page hero-->

<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<div class="service-single inner-page-hero">
    <div class="container">
        <div class="row">
            <!--Start service content-->
            <div class="col-12 col-xl-8  ">
                <div class="service-content-area">
                    <div class="featured-img-area part"><img class="feat-img img-fluid" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Are_the_Different_Types_of_SEO.jpg" alt="featured image"></div>
                    <div class="service-content">
                        <div class="part">
                            <h2 class="service-title">Search Engine Optimization(SEO) services we offer</h2>
                            <p class="service-text">
                                We offer top edge Search engine optimization (SEO) By improving the visibility of a website or webpage on a search engine results page (SERP) so as to make a company’s website more discoverable, thereby driving traffic and sales.
                            </p>
                            <p class="service-text">
                                Local SEO is a branch of SEO that aims to optimize a business's online presence to attract more customers from relevant local searches to the physical place. These searches happen on Google and other search engines.

                                In simple terms, Local SEO is all about getting your business on the map in local searches when customers are searching for a business like yours.
                            </p>
                            <p class="service-text">
                                Global or International SEO is an optimization strategy for your website to attract traffic from multiple countries or languages.
                                Global SEO is for businesses that operate across several nations, international e-commerce companies, or any company offering globally relevant content or products.
                            </p>



                        </div>
                        <div class="part">
                            <div class="two-cols-img ">
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="img-col"><img class="img-fluid" src="~/assets/images/services/SEO_service/seo_img_2.png" loading="lazy" alt="seo_img_1 "></div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="img-col"><img class="img-fluid" src="~/assets/images/services/SEO_service/seo_img_3.jpg" loading="lazy" alt="seo_img_2 "></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="part">
                            <div class="info-items-list">
                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <div class="info-item">
                                            <span class="info-number ">01.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Analyze Profile </h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">02.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Competitor Research </h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">03.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Keyword Search</h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">04.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Build Strategy </h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">05.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Application </h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <div class="info-item">
                                            <span class="info-number">06.</span>
                                            <div class="info-content">
                                                <h3 class="info-title">Analyze Data</h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* maq start  *@
                        <div class="part">
                            <h2 class="service-title"> most asked questions</h2>
                            <div class="faq">
                                <!--Start Accordion List For FAQ-->
                                <div class="faq-accordion " id="accordion">
                                    <div class="card mb-2">
                                        <div class="card-header " id="heading-1">
                                            <h3 class="mb-0 faq-title">
                                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                    Difference between SEO and SEM ?
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="collapse " id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p class="faq-answer">
                                                    The main difference between Search Engine Optimization (SEO) and Search Engine Marketing (SEM) is that SEO focuses on optimizing a website for organic search traffic, while SEM includes both organic search and paid advertising to attract traffic.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-header " id="heading-2">
                                            <h3 class="mb-0 faq-title">
                                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                                                    How does seo going to help my business ?
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="collapse " id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p class="faq-answer">
                                                    seo will increase your Online Visibility,Helps You Reach The Right Audience,Brings Qualified Leads To Your Website,Can Help You Convert Leads,Improves Brand Awareness,Increases Trust And Credibility,Helps You Beat The Competition and Provides Long-Term Value .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-header " id="heading-3">
                                            <h3 class="mb-0 faq-title">
                                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3"> 
                                                    Do you provide organice SEO for my business ?
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="collapse " id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p class="faq-answer">
                                                    Yes, Organic SEO is an online marketing strategy designed to improve your website's rankings in unpaid search results on search engines like Google or Bing. It involves tactics such as keyword research, link building, content creation, and optimizing page load time to appeal to gain higher placement in search results pages (SERPs).
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-header " id="heading-4">
                                            <h3 class="mb-0 faq-title">
                                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">What’s the success of previous projects?</button>
                                            </h3>
                                        </div>
                                        <div class="collapse " id="collapse-4" aria-labelledby="collapse-4" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p class="faq-answer">
                                                    Any successful software product development company should have a portfolio full of success stories. To see if they’re the right fit for your company, ask to see the results they’ve provided before. Also, don’t hesitate to ask for reference contacts from other customers of the company. Combined, this should give an indication if they can give you the results you need.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* maq end *@

                        
                    </div>
                </div>
            </div>
            <!--Start service content-->
            <!-- Start service sidebar-->
            <div class="col-12 col-xl-4">
                <div class="service-sidebar ">
                    <div class="sidebar-pane">
                        <h2 class="sidebar-title">list of services</h2>
                        <ul class="list">
                            <li class="list-item">
                                <i class="flaticon-web-development font-icon"></i>
                                <a asp-controller="services" asp-action="webDevelopment"> web development<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="flaticon-nanotechnology font-icon"></i>
                                <a asp-controller="Home" asp-action="digitalMarketing"> Digital Marketing<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-snowflake font-icon"></i>
                                <a asp-controller="Home" asp-action="training"> Training <i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="flaticon-profile font-icon"></i>
                                <a asp-controller="services" asp-action="softwaredevelopment">Software Development<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="flaticon-search font-icon"></i>
                                <a asp-controller="services" asp-action="seooptimazation"> SEO services<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-business-time font-icon"></i>
                                <a asp-controller="services" asp-action="businessconsultant"> Business Consultant<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-brands fa-ioxhost font-icon"></i>
                                <a asp-controller="services" asp-action="webdomainmaintenance"> Web Domain And Hosting<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-microchip font-icon"></i>
                                <a asp-controller="services" asp-action="embededsystem"> Embedded System <i class="bi bi-arrow-right icon "></i></a>
                            </li>
                            <li class="list-item">
                                <i class="fa-brands fa-whatsapp font-icon"></i>
                                <a asp-controller="services" asp-action="bulksmsandemail"> Bulk Emails And Message<i class="bi bi-arrow-right icon "></i></a>
                            </li>
                        </ul>
                    </div>
                    @* <div class="sidebar-pane">
                    <div class="download-area">
                    <h2 class="sidebar-title">download assets</h2>
                    <p class="sidebar-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minima distinctio dolores quidem ducimus! Illum.</p>
                    <ul class="list">
                    <li class="list-item">
                    <i class="flaticon-downloading font-icon"></i><a href="#0">
                    service-report<i class="bi bi-arrow-right icon "></i>
                    </a>
                    </li>
                    <li class="list-item">
                    <i class="flaticon-downloading font-icon"></i><a href="#0">
                    all services<i class="bi bi-arrow-right icon "></i>
                    </a>
                    </li>
                    </ul>
                    </div>
                    </div> *@
                    <div class="sidebar-pane">
                        <div class="social-area">
                            <h2 class="sidebar-title">follow us</h2>
                            <div class="sc-wrapper dir-row sc-size-40">
                                <ul class="sc-list">
                                    <li class="sc-item " title="Facebook"><a class="sc-link" href="https://facebook.com/TheOneWebTechnology" title="social media icon"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                                    <li class="sc-item " title="youtube">
                                        <a class="sc-link" href="https://www.youtube.com/theonewebtechnology814" title="social media icon"><i class="fab fa-youtube sc-icon"></i></a>
                                    </li>
                                    <li class="sc-item " title="instagram"><a class="sc-link" href="https://instagram.com/theonewebtechnology" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                                    <li class="sc-item " title="twitter">
                                        <a class="sc-link" rel="me" href="https://twitter.com/TheOneWebTechn1" title="social media icon"><i class="fab fa-twitter sc-icon"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End service sidebar-->

        </div>
    </div>
</div>
<!-- End inner Page hero-->
@* contact us form start *@
<section class="contact-us-form-section  mega-section  ">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="contact-form-panel">
                    <div class="sec-heading centered    ">
                        <div class="content-area">
                            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">Get quote</h2>
                        </div>
                    </div>
                    <div class="contact-form-inputs wow fadeInUp" data-wow-delay=".6s">
                        <div class="custom-form-area input-boxed">
                            <!--Form To have user messages-->
                            <form class="main-form" id="contact-us-form" action="https://amincode.com/html/flex-it/php/send-mail.php" method="post">
                                <span class="done-msg"></span>
                                <div class="row ">
                                    <div class="col-12 col-lg-6">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="user-name" name="UserName" type="text" />
                                            <label class="input-label" for="user-name"> Name <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="user-email" name="UserEmail" type="email" />
                                            <label class="input-label" for="user-email"> E-mail <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="msg-subject" name="subject" type="text" />
                                            <label class="input-label" for="msg-subject"> Subject <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <textarea class=" text-input" id="msg-text" name="message"></textarea>
                                            <label class="input-label" for="msg-text"> your message <span class="req">*</span></label><span class="b-border"></span><i></i><span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 submit-wrapper">
                                        <button class=" btn-solid" id="submit-btn" type="submit" name="UserSubmit">Send your message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* contact us form end *@

@* blog start  *@

<section class="blog blog-home mega-section">
    <div class="container ">
        <div class="row ">
            <div class="col-12 ">
                @* blog heading  start*@

                <div class="sec-heading centered    ">
                    <div class="content-area">
                        <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">Blog</h2>
                    </div>
                </div>

                @* blog heading end  *@
                <div class="posts-grid">
                    <div class="row">
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="How litespeed technology works to speed up your site ">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/1.jpg" alt="post-img-1"><span class="post-date"><span class="day">05 </span>oct 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>hosting</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>Allan Moore</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> How litespeed technology works to speed up your site </h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="How litespeed technology works to speed up your site ">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="give your website a new look and feel with themes">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/2.jpg" alt="post-img-2"><span class="post-date"><span class="day">15 </span>sep 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" asp-controller="Home" asp-action="blog"> <i class="bi bi-bookmark icon"></i>web dev</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>mhmd amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> give your website a new look and feel with themes</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="give your website a new look and feel with themes">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="the role of domain names in SEO world explained ">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/3.jpg" alt="post-img-3"><span class="post-date"><span class="day">27 </span>aug 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>SEO</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> the role of domain names in SEO world explained </h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="the role of domain names in SEO world explained ">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="we are able to building your dream website">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/4.jpg" alt="post-img-4"><span class="post-date"><span class="day">15 </span>aug 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>design</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>mhmd amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> we are able to building your dream website</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="we are able to building your dream website">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="data analysis and the big impact on industry">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/5.jpg" alt="post-img-5"><span class="post-date"><span class="day">02 </span>aug 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>features</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>fairouz amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> data analysis and the big impact on industry</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="data analysis and the big impact on industry">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog" title="helping others can boost you happiness">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="~/assets/images/blog/post-images/6.jpg" alt="post-img-6"><span class="post-date"><span class="day">21 </span>jul 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>cloud</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" asp-controller="Digitalmarketing" asp-action="blog">
                                            <h2 class="post-title"> helping others can boost you happiness</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" asp-controller="Digitalmarketing" asp-action="blog" title="helping others can boost you happiness">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* blog end *@




