@model The_One_Web_Technology.Models.serviceRegistrationModel
@{
    ViewData["Title"] = "serviceUserLogin";
}

<section class="serviceUserLogin my-5">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-12">
                <div class="contact-form-panel">
                    <div class="sec-heading centered    ">
                        <div class="content-area">
                            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">Service User Login</h2>
                        </div>
                    </div>
                    <div class="contact-form-inputs wow fadeInUp" data-wow-delay=".6s">
                        <div class="custom-form-area input-boxed">
                            <!--Form To have user messages-->
                            <div class="row">
                                <div class="col-6 m-auto">
                                    <form class="main-form" asp-action="serviceUserLogin">


                                        <span class="done-msg"></span>
                                        <div class="row ">
                                            @* email    *@
                                            <div class="col-12">
                                                <div class="   input-wrapper">
                                                    <input class="text-input" type="email" asp-for="clientemail" />
                                                    <label class="input-label"> E-mail <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                                </div>
                                            </div>
                                            @* contact  end  *@
                                            <div class="col-12">
                                                <div class="   input-wrapper">
                                                    <input class="text-input" type="password" asp-for="clientPassword" />
                                                    <label class="input-label"> Password <span class="req">*</span></label><span class="b-border"></span><span class="error-msg"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 submit-wrapper">
                                                <button class=" btn-solid" type="submit">Login</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

